<!-- Author : Prasanna Bhat -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Buddy Expense Tracker</title>
	<link rel="stylesheet" href="css/jquery.mobile.css" />
	<link rel="stylesheet" href="css/buddy-expense-tracker.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/jquery.ketchup.css" />
	<script src="scripts/stdlib/jquery.js"></script>
	<script type="text/javascript" src="scripts/stdlib/jquery.mobile.router.js"></script>
	<script type="text/javascript" charset="utf-8" src="scripts/stdlib/underscore.js"></script>
	<script type="text/javascript" charset="utf-8" src="scripts/stdlib/backbone.js"></script>
	<script type="text/javascript" charset="utf-8" src="scripts/mylib/buddy-expense-tracker.js"></script>	
	<script type="text/javascript" charset="utf-8" src="scripts/stdlib/phonegap-1.0.0.js"></script>
	<script type="text/javascript" charset="utf-8" src="scripts/stdlib/jscript-extensions.js"></script>
	<script type="text/javascript" charset="utf-8" src="scripts/mylib/models/buddy-models.js"></script>
	<script type="text/javascript" charset="utf-8" src="scripts/mylib/views/buddy-views.js"></script>
	<script type="text/javascript" charset="utf-8" src="scripts/mylib/buddy-libraries.js"></script>
	<script type="text/javascript" charset="utf-8" src="scripts/mylib/buddy-database.js"></script>
	<script type="text/javascript" charset="utf-8" src="scripts/mylib/buddy-home.js"></script>
	<script type="text/javascript" charset="utf-8" src="scripts/mylib/buddy-addbuddy.js"></script>
	<script type="text/javascript" charset="utf-8" src="scripts/mylib/buddy-pickbuddy.js"></script>
	<script type="text/javascript" charset="utf-8" src="scripts/mylib/buddy-editbuddy.js"></script>
	<script type="text/javascript" src="scripts/stdlib/jquery.mobile.js"></script>
	<!-- <script src="http://192.168.0.153:8080/target/target-script-min.js"></script>  -->
</head>
<body>
	<!--#include file="scripts/mylib/views/templates.html" -->
	<!-- Start of first page: HomeScreen -->
	<div data-role="page" id="HomeScreen" data-theme="b">
		<div data-role="header" data-position="fixed">
			<h1>Buddy Expense Tracker</h1>
		</div>
		<!-- /header -->
		<div class="ui-grid-a" id="HomeScreenButtons">
			<a href="#Dummy" data-role="button" data-action="ListExpense">Expense List</a>
			<a href="#AddBuddy" data-role="button" data-action="AddBuddy1">Add Buddy-1</a>
			<a href="#AddBuddyPick" data-role="button" data-action="AddBuddy2">Add Buddy-2</a>
			<a href="#Dummy" data-role="button" data-action="AddExpense">Add Expense</a>
			<a href="#EditBuddies" data-role="button" data-action="EditBuddies">Edit Buddies</a>
		</div>
		<!-- /content -->
		<div data-role="footer" data-position="fixed"></div>
		<!-- /footer -->
	</div>
	<!-- Start of page AddBuddy:-->
	<div data-role="page" id="AddBuddy" data-theme="b">
		<div data-role="header">
			<a href="#HomeScreen" data-icon="home" data-direction="reverse">Home</a>
			<h1>Add Buddy</h1>
		</div>
		<!-- /header -->
		<div data-role="content" id="AB_content">

		</div>
		<!-- /content -->
		<div data-role="footer"></div>
		<!-- /footer -->
	</div>
	<!-- /page AddBuddy -->
	<!-- Start of page AddBuddyPick :-->
	<div data-role="page" id="AddBuddyPick" data-theme="b">
		<div data-role="header" data-position="fixed">
			<a href="#HomeScreen" data-icon="home" data-direction="reverse">Home</a>
			<h1>Add Buddy</h1>
		</div>
		<!-- /header -->
		<div data-role="content">
			<div>
				<input type="button" class="buddy_button" value="LoadContacts" data-action="LoadContacts" data-inline="true" data-theme="b"/>
			</div>
			<h5 id="ABP_Msg"></h5>
			<div data-role="fieldcontain">
				<ul id = "ABP_ContactList" data-role="listview" data-filter="true" data-split-icon="check" data-split-theme="d"></ul>
			</div>
			<!-- code for navbar
			<div data-role="navbar">
			<ul>
			<li>
			<input type="button" value="Add" data-action="Add" data-inline="true" data-theme="b"/>
			</li>
			<li>
			<input type="button" value="SelectAll" data-action="SelectAll" data-inline="true" data-theme="b"/>
			</li>
			<li>
			<input type="button" value="Deselect" data-action="Deselect" data-inline="true" data-theme="b"/>
			</li>
			</ul>
			</div>
			-->
		</div>
		<!-- /content -->
		<div data-role="footer" data-position="fixed" class="ui-bar">
			<input type="button" class="buddy_button" value="Add" data-action="Add" data-inline="true" data-theme="b"/>
			<input type="button" class="buddy_button" value="SelectAll" data-action="SelectAll" data-inline="true" data-theme="b"/>
			<input type="button" class="buddy_button" value="Deselect" data-action="Deselect" data-inline="true" data-theme="b"/>
		</div>
		<!-- /footer -->
	</div>
	<!-- /page AddBuddyPick -->
	<!-- Start of page EditBuddies:-->
	<div data-role="page" id="EditBuddies" data-theme="b">
		<div data-role="header" data-position="fixed">
			<a href="#HomeScreen" data-icon="home" data-direction="reverse">Home</a>
			<h1>Edit Buddies</h1>
		</div>
		<!-- /header -->
		<div data-role="content">
			<h5 id="EB_Msg"></h5>
			<div data-role="fieldcontain">
				<form>
					<ul id = "EB_BuddyList" data-role="listview" data-filter="true"></ul>
				</form>
			</div>
		</div>
		<!-- /content -->
		<div data-role="footer" data-position="fixed" class="ui-bar">
			<input type="button" class="buddy_button" value="Delete" data-action="Delete" />
			<input type="button" class="buddy_button" value="SelectAll" data-action="SelectAll" />
			<input type="button" class="buddy_button" value="Deselect" data-action="Deselect"/>
		</div>
		<!-- /footer -->
	</div>
<script type="text/template" id="buddy-form-template">
		<ul data-role="listview">
			<li data-role="fieldcontain">
				<label for="AB_Name"> Buddy Name* </label>
				<input id="AB_Name" name="name" placeholder="Buddy Name" type="text" value="<%= name %>"/>
			</li>
			<li data-role="fieldcontain">
				<label for="AB_Number"> Buddy Telephone </label>
				<input id="AB_Number" name="number" placeholder="Telephone" type="tel" value="<%= number %>"/>
			</li>
			<li data-role="fieldcontain">
				<label for="AB_EMail"> Buddy E-Mail </label>
				<input id="AB_EMail" name="email" placeholder="email" type="text" value="<%= email %>"/>
			</li>
			<li data-role="fieldcontain">
				<label for="AB_Count"> Count </label>
				<input id="AB_Count" name="count" type="number" />
			</li>
			<div id="AB_Msg"></div>
			<li data-role="fieldcontain">
			<input type="submit" value="Add" data-inline="true" data-theme="b" data-action="Add" class="buddy_button"/>
			<input type="reset" value="Clear" data-inline="true" data-theme="b" data-action="Clear" class="buddy_button"/>
			</li>
		</ul>
</script>	
</body>
</html> 

